MAIL='keburgett@gmail.com'
00 07 * * 0 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
03 07 * * 0 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
05 07 * * 0 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
08 07 * * 0 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
00 19 * * 0 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
03 19 * * 0 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
05 19 * * 0 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
08 19 * * 0 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
00 07 * * 1 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
03 07 * * 1 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
05 07 * * 1 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
08 07 * * 1 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
00 19 * * 1 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
03 19 * * 1 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
05 19 * * 1 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
08 19 * * 1 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
00 07 * * 2 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
03 07 * * 2 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
05 07 * * 2 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
08 07 * * 2 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
00 19 * * 2 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
03 19 * * 2 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
05 19 * * 2 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
08 19 * * 2 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
00 07 * * 3 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
03 07 * * 3 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
05 07 * * 3 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
08 07 * * 3 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
00 19 * * 3 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
03 19 * * 3 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
05 19 * * 3 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
08 19 * * 3 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
00 07 * * 4 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
03 07 * * 4 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
05 07 * * 4 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
08 07 * * 4 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
00 19 * * 4 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
03 19 * * 4 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
05 19 * * 4 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
08 19 * * 4 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
00 07 * * 5 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
03 07 * * 5 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
05 07 * * 5 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
08 07 * * 5 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
00 19 * * 5 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
03 19 * * 5 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
05 19 * * 5 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
08 19 * * 5 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
00 07 * * 6 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
03 07 * * 6 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
05 07 * * 6 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
08 07 * * 6 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
00 19 * * 6 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
03 19 * * 6 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
05 19 * * 6 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
08 19 * * 6 sh /home/kenb/development/Aquarius/lib/tasks/scheduled_sprinkle_actuator.sh  se s vc hp
