<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @crontab_actuator.state %>
</p>

<%= link_to 'Edit', edit_crontab_actuator_path(@crontab_actuator) %> |
<%= link_to 'Back', crontab_actuators_path %>
