MAIL='keburgett@gmail.com'
53 15 * * 5 sh /home/kenb/development/TestApp/lib/tasks/valve_actuator.sh  1  1 localhost:3000 1
54 15 * * 5 sh /home/kenb/development/TestApp/lib/tasks/valve_actuator.sh  1  0 localhost:3000 1
55 15 * * 5 sh /home/kenb/development/TestApp/lib/tasks/valve_actuator.sh  2  1 localhost:3000 2
56 15 * * 5 sh /home/kenb/development/TestApp/lib/tasks/valve_actuator.sh  2  0 localhost:3000 2
57 15 * * 5 sh /home/kenb/development/TestApp/lib/tasks/valve_actuator.sh  3  1 localhost:3000 3
58 15 * * 5 sh /home/kenb/development/TestApp/lib/tasks/valve_actuator.sh  3  0 localhost:3000 3
59 15 * * 5 sh /home/kenb/development/TestApp/lib/tasks/valve_actuator.sh  4  1 localhost:3000 4
00 16 * * 5 sh /home/kenb/development/TestApp/lib/tasks/valve_actuator.sh  4  0 localhost:3000 4
01 16 * * 5 sh /home/kenb/development/TestApp/lib/tasks/valve_actuator.sh  5  1 localhost:3000 5
02 16 * * 5 sh /home/kenb/development/TestApp/lib/tasks/valve_actuator.sh  5  0 localhost:3000 5
03 16 * * 5 sh /home/kenb/development/TestApp/lib/tasks/valve_actuator.sh  1  1 localhost:3000 6
04 16 * * 5 sh /home/kenb/development/TestApp/lib/tasks/valve_actuator.sh  1  0 localhost:3000 6
05 16 * * 5 sh /home/kenb/development/TestApp/lib/tasks/valve_actuator.sh  2  1 localhost:3000 7
06 16 * * 5 sh /home/kenb/development/TestApp/lib/tasks/valve_actuator.sh  2  0 localhost:3000 7
07 16 * * 5 sh /home/kenb/development/TestApp/lib/tasks/valve_actuator.sh  3  1 localhost:3000 8
08 16 * * 5 sh /home/kenb/development/TestApp/lib/tasks/valve_actuator.sh  3  0 localhost:3000 8
09 16 * * 5 sh /home/kenb/development/TestApp/lib/tasks/valve_actuator.sh  4  1 localhost:3000 9
10 16 * * 5 sh /home/kenb/development/TestApp/lib/tasks/valve_actuator.sh  4  0 localhost:3000 9
11 16 * * 5 sh /home/kenb/development/TestApp/lib/tasks/valve_actuator.sh  5  1 localhost:3000 10
12 16 * * 5 sh /home/kenb/development/TestApp/lib/tasks/valve_actuator.sh  5  0 localhost:3000 10
