MAIL='keburgett@gmail.com'
17 14 * * 5 sh /home/kenb/development/HyperAQ/lib/tasks/valve_actuator.sh  1  1 localhost:3000 1
18 14 * * 5 sh /home/kenb/development/HyperAQ/lib/tasks/valve_actuator.sh  1  0 localhost:3000 1
19 14 * * 5 sh /home/kenb/development/HyperAQ/lib/tasks/valve_actuator.sh  2  1 localhost:3000 2
20 14 * * 5 sh /home/kenb/development/HyperAQ/lib/tasks/valve_actuator.sh  2  0 localhost:3000 2
21 14 * * 5 sh /home/kenb/development/HyperAQ/lib/tasks/valve_actuator.sh  3  1 localhost:3000 3
22 14 * * 5 sh /home/kenb/development/HyperAQ/lib/tasks/valve_actuator.sh  3  0 localhost:3000 3
23 14 * * 5 sh /home/kenb/development/HyperAQ/lib/tasks/valve_actuator.sh  4  1 localhost:3000 4
24 14 * * 5 sh /home/kenb/development/HyperAQ/lib/tasks/valve_actuator.sh  4  0 localhost:3000 4
25 14 * * 5 sh /home/kenb/development/HyperAQ/lib/tasks/valve_actuator.sh  5  1 localhost:3000 5
26 14 * * 5 sh /home/kenb/development/HyperAQ/lib/tasks/valve_actuator.sh  5  0 localhost:3000 5
27 14 * * 5 sh /home/kenb/development/HyperAQ/lib/tasks/valve_actuator.sh  1  1 localhost:3000 6
28 14 * * 5 sh /home/kenb/development/HyperAQ/lib/tasks/valve_actuator.sh  1  0 localhost:3000 6
29 14 * * 5 sh /home/kenb/development/HyperAQ/lib/tasks/valve_actuator.sh  2  1 localhost:3000 7
30 14 * * 5 sh /home/kenb/development/HyperAQ/lib/tasks/valve_actuator.sh  2  0 localhost:3000 7
31 14 * * 5 sh /home/kenb/development/HyperAQ/lib/tasks/valve_actuator.sh  3  1 localhost:3000 8
32 14 * * 5 sh /home/kenb/development/HyperAQ/lib/tasks/valve_actuator.sh  3  0 localhost:3000 8
33 14 * * 5 sh /home/kenb/development/HyperAQ/lib/tasks/valve_actuator.sh  4  1 localhost:3000 9
34 14 * * 5 sh /home/kenb/development/HyperAQ/lib/tasks/valve_actuator.sh  4  0 localhost:3000 9
35 14 * * 5 sh /home/kenb/development/HyperAQ/lib/tasks/valve_actuator.sh  5  1 localhost:3000 10
36 14 * * 5 sh /home/kenb/development/HyperAQ/lib/tasks/valve_actuator.sh  5  0 localhost:3000 10
