MAIL='keburgett@gmail.com'
42 12 * * 3 sh /home/kenb/development/HyperAQ/lib/tasks/valve_actuator.sh  1  1 localhost:3000 1
43 12 * * 3 sh /home/kenb/development/HyperAQ/lib/tasks/valve_actuator.sh  1  0 localhost:3000 1
44 12 * * 3 sh /home/kenb/development/HyperAQ/lib/tasks/valve_actuator.sh  2  1 localhost:3000 2
45 12 * * 3 sh /home/kenb/development/HyperAQ/lib/tasks/valve_actuator.sh  2  0 localhost:3000 2
46 12 * * 3 sh /home/kenb/development/HyperAQ/lib/tasks/valve_actuator.sh  3  1 localhost:3000 3
47 12 * * 3 sh /home/kenb/development/HyperAQ/lib/tasks/valve_actuator.sh  3  0 localhost:3000 3
48 12 * * 3 sh /home/kenb/development/HyperAQ/lib/tasks/valve_actuator.sh  4  1 localhost:3000 4
49 12 * * 3 sh /home/kenb/development/HyperAQ/lib/tasks/valve_actuator.sh  4  0 localhost:3000 4
50 12 * * 3 sh /home/kenb/development/HyperAQ/lib/tasks/valve_actuator.sh  5  1 localhost:3000 5
51 12 * * 3 sh /home/kenb/development/HyperAQ/lib/tasks/valve_actuator.sh  5  0 localhost:3000 5
52 12 * * 3 sh /home/kenb/development/HyperAQ/lib/tasks/valve_actuator.sh  1  1 localhost:3000 6
53 12 * * 3 sh /home/kenb/development/HyperAQ/lib/tasks/valve_actuator.sh  1  0 localhost:3000 6
54 12 * * 3 sh /home/kenb/development/HyperAQ/lib/tasks/valve_actuator.sh  2  1 localhost:3000 7
55 12 * * 3 sh /home/kenb/development/HyperAQ/lib/tasks/valve_actuator.sh  2  0 localhost:3000 7
56 12 * * 3 sh /home/kenb/development/HyperAQ/lib/tasks/valve_actuator.sh  3  1 localhost:3000 8
57 12 * * 3 sh /home/kenb/development/HyperAQ/lib/tasks/valve_actuator.sh  3  0 localhost:3000 8
58 12 * * 3 sh /home/kenb/development/HyperAQ/lib/tasks/valve_actuator.sh  4  1 localhost:3000 9
59 12 * * 3 sh /home/kenb/development/HyperAQ/lib/tasks/valve_actuator.sh  4  0 localhost:3000 9
00 01 * * 3 sh /home/kenb/development/HyperAQ/lib/tasks/valve_actuator.sh  5  1 localhost:3000 10
01 01 * * 3 sh /home/kenb/development/HyperAQ/lib/tasks/valve_actuator.sh  5  0 localhost:3000 10
